  <div id="container">
    <section id="devsched">
      <!--<ul>        
        <li><a href="#sat1">Feb 2</a></li>
        <li><a href="#sun">Feb 3</a></li>
        <li><a href="#mon">Feb 4</a></li>
        <li><a href="#tue">Feb 5</a></li>
        <li><a href="#wed">Feb 6</a></li>
        <li><a href="#thu">Feb 7</a></li>
        <li><a href="#fri">Feb 8</a></li>
        <li><a href="#sat2">Feb 9</a></li>
      </ul>
      -->
      
      <table id="schedule" summary="DevFest 2013 Schedule">
        <thead id="devsched">
          <tr>
            <th scope="col">When</th>
            <th scope="col">What</th>       
            <th scope="col">Where</th>
          </tr>
        </thead>
        <tbody id="devsched">
          <tr id="date">
            <td><a name="sat1"></a>Sat, Feb 2</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12:00pm - 12:30pm</td>
            <td>Pre-Kickoff Lunch</td>
            <td>Davis Auditorium<br>Lobby</td>
          </tr>
          <tr>
            <td>12:30pm - 1:00pm</td>
            <td>Kickoff</td>
            <td>Davis Auditorium</td>
          </tr>
          <tr>
            <td>1:00pm - 1:45pm</td>
            <td>API Demos</td>
            <td>Davis Auditorium</td>
          </tr>
          <tr>
            <td>1:45pm - 2:30pm</td>
            <td>Pitchfest</td>
            <td>Davis Auditorium</td>
          </tr>
          <tr>
            <td>2:30pm - 3:15pm</td>
            <td>Environment Setup Workshop</td>
            <td>CS Lounge</td>
          </tr>
          <tr>
            <td>3:15pm - 4:00pm</td>
            <td>Sinatra Crash Course</td>
            <td>CS Lounge</td>
          </tr>
          <tr>
            <td>4:00pm - 4:30pm</td>
            <td>Twitter MVC Talk with Janessa Det</td>
            <td>CS Lounge</td>
          </tr>
          <tr>
            <td>4:30pm - 12:00am</td>
            <td>Hack Time + Office Hours</td>
            <td>CS Lounge</td>
          </tr>
          <tr id="date">
            <td><a name="sun"></a>Sun, Feb 3</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5:00pm - 7:30pm</td>
            <td>Office Hours</td>
            <td>CS Lounge</td>
          </tr>
          <tr id="date">
            <td><a name="mon"></a>Mon, Feb 4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 10:00pm</td>
            <td>Mobile Theme Night</td>
            <td>CS Lounge</td>
          </tr>
          <tr id="date">
            <td><a name="tue"></a>Tue, Feb 5</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 10:00pm</td>
            <td>Databases Theme Night<br>with Aditya Mukerjee of Quotidian Ventures</td>
            <td>CS Lounge</td>
          </tr>
          <tr id="date">
            <td><a name="wed"></a>Wed, Feb 6</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 10:00pm</td>
            <td>JQuery Theme Night<br>with Jon Gottfried of Twilio</td>
            <td>CS Lounge</td>
          </tr>
          <tr>
            <td>10:00pm - 12:00pm</td>
            <td>Developer Office Hours</td>
            <td>Lerner 569</td>
          </tr>
          <tr id="date">
            <td><a name="thu"></a>Thu, Feb 7</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 10:00pm</td>
            <td>Deployment Theme Night<br>with Abe Stanway of Etsy and Hacker League</td>
            <td>CS Lounge</td>
          </tr>
          <tr id="date">
            <td><a name="fri"></a>Fri, Feb 8</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6:00pm - Midnight</td>
            <td>Hackathon</td>
            <td>CS Lounge</td>
          </tr>
          <tr id="date">
            <td><a name="sat2"></a>Sat, Feb 9</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Midnight - 12:00pm</td>
            <td>Hackathon</td>
            <td>CS Lounge</td>
          </tr>
          <tr>
            <td>12:00pm - 3:00pm</td>
            <td>Judging</td>
            <td>Davis Auditorium</td>
          </tr>
          <tr>
            <td>7:30pm - 9:30pm</td>
            <td>Winner Winner Chicken Dinner</td>
            <td>It's a surprise!</td>
          </tr>
        </tbody>
      </table>

    </section>
  </div>
