<aside id="featured" class="body">
	<h2>
		ADI's board structure is dynamic and flexible, but as we have grown we have
		identified some key areas that need attention and created subcommittees to work
		on them.
	</h2>
</aside>

<ul class="main_content_list">
	<li>
	<p><strong>Social</strong></p>
	Works on connecting the developer community at Columbia to other developers and to the Columbia community in general.
	</li>

	<li>
	<p><strong>Marketing</strong></p>
	Spreads the gospel of ADI far and wide, utilizing social media and leveraging word-of-mouth networks to build the ADI brand.
	</li>

	<li>
	<p><strong>Infrastructure</strong></p>
	Works on projects crucial for ADI's success or build cool programs to help the Columbia community. ADI has existing ideas that need implementation, and you can also help to come up with new projects to hack on.
	</li>

	<li>
	<p><strong>Networking</strong></p>
	Help ADI's exposure in the broader NYC community, and expose Columbia students to the NYC tech community at large.
	</li>

	<li>
	<p><strong>Workshops</strong></p>
	Help teach people the skills they need to build awesome stuff! These lectures range in skill level from beginner lessons on HTML to advanced JavaScript tricks.
	</li>
</ul>
