<h1>Executive Board 2010-2011</h1>

<div>
  <%= image_tag "boards/eboard2010-small.jpg" %>
  <p class="photo-byline">Photo by Hans Hyttinen, 2010</p>
</div>

<table id="eboard-roster">
  <tr>
    <td>Andrew Hitti</td>
    <td>CC '13</td>
    <td>Ephraim Park</td>
    <td>SEAS '14</td>
  </tr>

  <tr>
    <td>Hans Hyttinen</td>
    <td>SEAS '12</td>
    <td>Kui Tang</td>
    <td>SEAS '14</td>
  </tr>

  <tr>
    <td>Michael Discenza</td>
    <td>CC '13</td>
    <td>Moses Nakamura</td>
    <td>CC '13</td>
  </tr>

  <tr>
    <td>Nathan Hwang</td>
    <td>SEAS '12</td>
    <td>Ryan Bubinski</td>
    <td>CC '11</td>
  </tr>
  
  <tr>
    <td>Sid Nair</td>
    <td>CC '13</td>
    <td>Vishnu Kalugotla</td>
    <td>SEAS '14</td>
  </tr>

  <tr>
    <td>Zhehao Mao</td>
    <td>SEAS '14</td>
  </tr>
</table>
<p>Faculty Advisor: Chris Wiggins</p>
