<h1>Executive Board 2011-2012</h1>

<div>
  <%= image_tag "boards/eboard2011-fall-small.jpg" %>
  <p class="photo-byline">Photo by Hans Hyttinen, 2011</p>
</div>

<table id="eboard-roster">
  <tr>
    <td>Andrew Hitti</td>
    <td></td>
    <td>Ariq Azad</td>
    <td></td>
  </tr>
  <tr>
    <td>Brian Shin</td>
    <td></td>
    <td>Cecilia Schudel</td>
    <td></td>
  </tr>
  <tr>
    <td>Chris Yan</td>
    <td></td>
    <td>Etan Zapinsky</td>
    <td></td>
  </tr>
  <tr>
    <td>Hans Hyttinen</td>
    <td></td>
    <td>Howie</td>
    <td></td>
  </tr>
  <tr>
    <td>John</td>
    <td></td>
    <td>Justin Hines</td>
    <td></td>
  </tr>
  <tr>
    <td>Kathy Sun</td>
    <td></td>
    <td>Kenneth Cheng</td>
    <td></td>
  </tr>
  <tr>
    <td>Mason Silber</td>
    <td></td>
    <td>Michael Discenza</td>
    <td></td>
  </tr>
  <tr>
    <td>Michael Yang</td>
    <td></td>
    <td>Moses Nakamura</td>
    <td></td>
  </tr>
  <tr>
    <td>Nathan Hwang</td>
    <td></td>
    <td>Sid Nair</td>
    <td></td>
  </tr>
  <tr>
    <td>Sid Shanker</td>
    <td></td>
    <td>Tikue Anazado</td>
    <td></td>
  </tr>
  <tr>
    <td>Vishnu Kalugotla</td>
    <td></td>
    <td>Vivek Bhagwat</td>
    <td></td>
  </tr>
  <tr>
    <td>Yanyi Luo</td>
    <td></td>
    <td>Yufei Liu</td>
    <td></td>
  </tr>
  <tr>
    <td>Zack Newman</td>
    <td></td>
  </tr>
</table>

<p>Faculty Advisor: Chris Wiggins</p>

<!--
Ghost of boards past.

<div>
  <%= image_tag "boards/eboard2010-small.jpg" %>
  <p class="photo-byline">Photo by Hans Hyttinen, 2010</p>
</div>

<table id="eboard-roster">
  <tr>
    <td>Andrew Hitti</td>
    <td>CC '13</td>
    <td>Ephraim Park</td>
    <td>SEAS '14</td>
  </tr>

  <tr>
    <td>Hans Hyttinen</td>
    <td>SEAS '12</td>
    <td>Kui Tang</td>
    <td>SEAS '14</td>
  </tr>

  <tr>
    <td>Michael Discenza</td>
    <td>CC '13</td>
    <td>Moses Nakamura</td>
    <td>CC '13</td>
  </tr>

  <tr>
    <td>Nathan Hwang</td>
    <td>SEAS '12</td>
    <td>Ryan Bubinski</td>
    <td>CC '11</td>
  </tr>

  <tr>
    <td>Sid Nair</td>
    <td>CC '13</td>
    <td>Vishnu Kalugotla</td>
    <td>SEAS '14</td>
  </tr>

  <tr>
    <td>Zhehao Mao</td>
    <td>SEAS '14</td>
  </tr>
</table>
<p>Faculty Advisor: Chris Wiggins</p>
-->
