<% title "DevFest Schedule" %>
<h2 id="schedule">DevFest 2013 Schedule</h2>

<figure id="devfest">
  <%= image_tag("devfest-logo/devfest-new-logo-medium.png") %>
</figure>

<aside id="featured" class="body">
  <h2>Schedule - DevFest 2013</h2>
</aside>

    <section id="devsched">
      <h1>Schedule - DevFest 2013</h1>
      <ul>        
        <li><a href="#sat1">Feb 2</a></li>
        <li><a href="#sun">Feb 3</a></li>
        <li><a href="#mon">Feb 4</a></li>
        <li><a href="#tue">Feb 5</a></li>
        <li><a href="#wed">Feb 6</a></li>
        <li><a href="#thu">Feb 7</a></li>
        <li><a href="#fri">Feb 8</a></li>
        <li><a href="#sat2">Feb 9</a></li>
      </ul>
      
      <table id="schedule" summary="DevFest 2013 Schedule">
        <thead>
          <tr>
            <th scope="col">When</th>
            <th scope="col">What</th>       
            <th scope="col">Where</th>
            <th scope="col">Who</th>
          </tr>
        </thead>
        <tbody>
          <tr id="date">
            <td><a name="sat1"></a>Sat, Feb 2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12:30pm - 2:00pm</td>
            <td>Kickoff</td>
            <td>Davis Auditorium</td>
            <td></td>
          </tr>
          <tr>
            <td>3:00pm</td>
            <td>Environment setup workshop &<br>Sinatra crash course</td>
            <td>Davis Auditorium</td>
            <td>Mason & Vivek</td>
          </tr>
          <tr>
            <td>5:00pm</td>
            <td>API Demos</td>
            <td>Davis Auditorium</td>
            <td></td>
          </tr>
          <tr>
            <td>6:00pm - 11:00pm</td>
            <td>Hack time!</td>
            <td>CS Lounge</td>
            <td></td>
          </tr>
          <tr id="date">
            <td><a name="sun"></a>Sun, Feb 3</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>all dayzz</td>
            <td>tech talk</td>
            <td></td>
            <td>Google, Facebook, Twitter</td>
          </tr>
          <tr id="date">
            <td><a name="mon"></a>Mon, Feb 4</td>
            <td>Mobile</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 9:00pm</td>
            <td>Theme night shitz</td>
            <td>CS Lounge</td>
            <td>Facebook & Oyster</td>
          </tr>
          <tr id="date">
            <td><a name="tue"></a>Tue, Feb 5</td>
            <td>Front-End</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 9:00pm</td>
            <td>Theme night shitz</td>
            <td>CS Lounge</td>
            <td></td>
          </tr>
          <tr id="date">
            <td><a name="wed"></a>Wed, Feb 6</td>
            <td>Databses</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 10:00pm</td>
            <td>Theme night shitz</td>
            <td>CS Lounge</td>
            <td></td>
          </tr>
          <tr>
            <td>10:00pm - 11:00pm</td>
            <td>Dev Office Hours</td>
            <td>CS Lounge</td>
            <td></td>
          </tr>
          <tr id="date">
            <td><a name="thu"></a>Thu, Feb 7</td>
            <td>Entrepreneurship & Deployment</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>8:00pm - 9:00pm</td>
            <td>Theme night shitz</td>
            <td>CS Lounge</td>
            <td></td>
          </tr>
          <tr id="date">
            <td><a name="fri"></a>Fri, Feb 8</td>
            <td>HACK</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7:00pm - ???</td>
            <td>Hackathon</td>
            <td>CS Lounge</td>
            <td></td>
          </tr>
          <tr id="date">
            <td><a name="sat2"></a>Sat, Feb 9</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11:30am - 2:00pm</td>
            <td>Judging</td>
            <td>Davis Auditorium</td>
            <td></td>
          </tr>

          <tr>
            <td>past yo bedtime</td>
            <td>Winner winner chicken dinnahahhhhhhh</td>
            <td>dino bbq obv</td>
            <td></td>
          </tr>
        </tbody>
      </table>




    </section>
  </div>

</body>
</html>
