<% title "DevFest Schedule" %>
<h2 id="schedule">DevFest 2013 Schedule</h2>

<figure id="devfest">
  <%= image_tag("devfest-logo/devfest-new-logo-medium.png") %>
</figure>

<%= render "home/devfest_2013_schedule" %>
