<% title "DevFest 2012" %>

<figure id="devfest">
  <%= image_tag("devfest-logo/devfest-logo-lightbg-flat-300.png") %>
</figure>

<aside id="featured" class="body">
<h2>
  <strong>DevFest 2012</strong> is a week-long application development experience filled with events and resources to help student teams build a web-based product with monetary and/or adoption potential.
</h2>
</aside>

<!--
  <ul class="no_style">
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#panelists">Panelists</a></li>
    <li><a href="#more_info">Learn more</a></li>
    <li><a href="#participate">Eligibility</a></li>
    <li><a href="#register">Registration</a></ li>
    <li><a href="#schedule">Schedule</a></ li>
  </ul>
-->

<div>
  <h2 id="winners">Winners</h2>
  <p>
    We're excited to announce the winners!
  </p>
  <ul>
    <li>
    <strong>Best use of the Twilio API</strong> (sponsored by Twilio) - <a href="https://github.com/zhemao/lerner">Lerner</a>, by Zhehao (Howie) Mao
    </li>
    <li>
      <strong>Best game</strong> (sponsored by Microsoft) - <a href="http://hackerleague.org/hackathons/devfest/hacks/beer-battle">Beer Battle</a> by Augusto Corvalan, Andrew Funcheon, Trevor Marshall, Moses Nakamura, and Andrew Stenvall
    </li>
    <li>
      <strong>Best pre-existing app</strong> (sponsored by 10gen) - <a href="http://www.parkally.com">ParkAlly</a> by Sid Shanker, Mason Silber, and Zach Reitano
    </li>
    <li>
      <strong>Best UI design</strong> - <a href="http://www.situity.com">Situity</a> by Alex Golec, Calvin Hu, Simon McGown, George Valdes, Ming Norman Tsui, and David Zhai
    </li>
    <li>
      <strong>Best first hack</strong> - <a href="http://cook-nooks.appspot.com">CookNooks</a> by Sophie Chou
    </li>
    <li>
      <strong>Most technically difficult</strong> - <a href="http://hackerleague.org/hackathons/devfest/hacks/freeseat">FreeSeat</a> by Aditya Mukerjee and Zach Newman
    </li>
    <li>
      <strong>Best business model</strong> - <a href="http://devfest.herokuapp.com">ResearchMatch</a> by Yifan Li, Ryder Moody, Alex Poon, and Rebecca Sealfon
    </li>
    <li>
      <strong>Overall 3rd</strong> - <a href="http://hackerleague.org/hackathons/devfest/hacks/helproom">HelpRoom</a> by Dina Lamdany and Elie Toubiana
    </li>
    <li>
      <strong>Overall 2nd</strong> - <a href="http://hackerleague.org/hackathons/devfest/hacks/omnified">omnified</a> by Yufei Liu
    </li>
    <li>
      <strong>Overall 1st</strong> - <a href="http://hackerleague.org/hackathons/devfest/hacks/scheduler">Scheduler</a> by Sid Nair
    </li>
  </ul>
  <p>
    Prizes included Kindles, Xboxes, and $500!  For a full list of hacks, check out our <a href="http://www.hackerleague.org/hackathons/devfest">HackerLeague page</a>.
  </p>
</div>

<h2 id="sponsors">Sponsors</h2>
<div class="logos varied large">
  <p>
    <span class="logo-wrapper">
      <a href="http://google.com/"><img alt="Google" src="/images/devfest2012/logos/google.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.palantirtech.com/"><img alt="Palantir" src="/images/devfest2012/logos/palantir.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://aolventures.com"><img alt="AOL Ventures" src="/images/devfest2012/logos/aol_ventures.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://twilio.com"><img alt="Twilio" src="/images/devfest2012/logos/twilio.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://10gen.com"><img alt="10gen" src="/images/devfest2012/logos/10gen.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.appnexus.com/"><img alt="AppNexus" src="/images/devfest2012/logos/appnexus.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.tumblr.com/"><img alt="Tumblr" src="/images/devfest2012/logos/tumblr.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.twitter.com/"><img alt="Twitter" src="/images/devfest2012/logos/twitter.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.codecademy.com/"><img alt="Codecademy" src="/images/devfest2012/logos/codecademy.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://a16z.com/"><img alt="Andreessen Horowitz" src="/images/devfest2012/logos/andreessen_horowitz.png"/></a>
    </span>
  </p>
</div>

<div>
  If you're interested in sponsoring DevFest, please contact
  <a href="mailto:networking@adicu.com">networking@adicu.com</a>
</div>

<h2 id="panelists">Panelists</h2>
<div>
  The following panel of industry experts will share their collective insight and experience with presenting teams:
  <ul>
    <li>
      <a href="http://avc.com">Fred Wilson</a>, VC and principal of Union Square Ventures
    </li>
    <li>
      <a href="http://www.columbia.edu/~chw2/">Chris Wiggins</a>, Associate Professor of Applied Mathematics at Columbia University
    </li>
    <li>
      <a href="http://a16z.com/">Dave Jagoda</a>, Andreessen Horowitz
    </li>
    <li>
      <a href="http://ryanbubinski.com/">Ryan Bubinski</a>, Codecademy
    </li>
    <li>
      <a href="https://twitter.com/#!/tarikh">Tarikh Korula</a>, Uncommon Projects
    </li>

  </ul>
</div>

<h2 id="more_info">A New Type of Tech Event</h2>
<p>DevFest is a collaboration between student groups, VC firms, startups, and Columbia departments to provide aspiring student developers with the necessary support framework to build a complete application over the span of one week as they iterate upon their ideas, experiment with new technologies and concepts, and add value in non-technical ways.</p>
<h3 id="hackathon">A Hackathon</h3>
<p>DevFest will kick off <strong>Saturday, Jan. 28 at 1pm in the Davis Auditorium at Columbia</strong> with a catered social event for all participants and a 24-hour hackathon.</p>
<p>We'll have numerous experienced students and alumni developers present to help with any questions you have.</p>

<h3 id="demofest">A Demofest</h3>
<p>On <strong>Saturday, Feb. 4 at noon in the Davis Auditorium</strong>, we'll serve lunch and then teams will reconvene to demo their project for a general audience, including representatives of startups and VCs from NYC and the Bay Area.</p>

<h3>Workshops</h3>
<p>Monday through Friday will be filled with workshops and lectures covering topics in technology, entrepreneurship, business, and networking to help teams with their development efforts. We'll announce details soon.</p>

<h2 id="participate">Eligibility</h2>
<p>Participating team members must be full-time students enrolled in a high school, undergraduate, or graduate program. Each team may present one entry during the concluding demo fest at Davis Auditorium in Columbia University at <strong>11:30am on Saturday, Feb. 4</strong>. All events are open to the general public, unless specified otherwise by the hosting party.</p>

<h2 id="register">Registration</h2>
<p>All event participants must register. Interested individuals may organize as a team before or during DevFest, or submit an individual project. Registration is now closed as the event is over.</p>

<h2 id="schedule">Schedule</h2>
<p>You can take a look at the full-view <%= link_to "here", "http://www.google.com/calendar/embed?src=adicu.com_tud5etmmo5mfmuvdfb54u733i4%40group.calendar.google.com&ctz=America/New_York" %>.</p>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=800&amp;wkst=7&amp;bgcolor=%23ffffff&amp;src=adicu.com_tud5etmmo5mfmuvdfb54u733i4%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FNew_York&amp;dates=20120128%2F20120204" style=" border-width:0 " width="600" height="800" frameborder="0" scrolling="no"></iframe>
