<% title "DevFest 2012" %>

<figure id="devfest">
  <%= image_tag("devfest-logo/devfest-logo-lightbg-flat-300.png") %>
</figure>

<aside id="featured" class="body">
<h2>
  <strong>DevFest 2012</strong> is a week-long application development experience filled with events and resources to help student teams build a web-based product with monetary and/or adoption potential.
  <strong>
    Register <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dHZJSldSTTdPeXhmQkFPTWRzd21waXc6MQ#gid=0">here</a>!
  </strong>
</h2>
</aside>

<!--
  <ul class="no_style">
    <li><a href="#more_info">Tell me more</a></li>
    <li><a href="#participate">Who can participate?</a></li>
    <li><a href="#register">Where do I sign up?</a></ li>
  </ul>
-->

<h2>Sponsors</h2>

<div class="logos varied large">
  <p>
    <span class="logo-wrapper">
      <a href="http://google.com/"><img alt="Google" src="/images/devfest2012/logos/google.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.palantirtech.com/"><img alt="Palantir" src="/images/devfest2012/logos/palantir.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://aolventures.com"><img alt="AOL Ventures" src="/images/devfest2012/logos/aol_ventures.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://10gen.com"><img alt="10gen" src="/images/devfest2012/logos/10gen.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.appnexus.com/"><img alt="AppNexus" src="/images/devfest2012/logos/appnexus.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.tumblr.com/"><img alt="Tumblr" src="/images/devfest2012/logos/tumblr.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.twitter.com/"><img alt="Twitter" src="/images/devfest2012/logos/twitter.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://www.codecademy.com/"><img alt="Codecademy" src="/images/devfest2012/logos/codecademy.png"/></a>
    </span>
    <span class="logo-wrapper">
      <a href="http://a16z.com/"><img alt="Andreessen Horowitz" src="/images/devfest2012/logos/andreessen_horowitz.png"/></a>
    </span>
  </p>
</div>

<div>
  If you're interested in sponsoring DevFest, please contact
  <a href="mailto:networking@adicu.com">networking@adicu.com</a>
</div>

<h2>Panelists</h2>
<div>
  The following panel of industry experts will share their collective insight and experience with presenting teams:
  <ul>
    <li>
      <a href="http://avc.com">Fred Wilson</a>, VC and principal of Union Square Ventures
    </li>
    <li>
      <a href="http://www.columbia.edu/~chw2/">Chris Wiggins</a>, Associate Professor of Applied Mathematics at Columbia University
    </li>
    <li>
      <a href="http://a16z.com/">Dave Jagoda</a>, Andreessen Horowitz
    </li>
    <li>
      <a href="http://ryanbubinski.com/">Ryan Bubinski</a>, Codecademy
    </li>
  </ul>
</div>

<h2 id="more_info">A New Type of Tech Event</h2>
<p>DevFest is a collaboration between student groups, VC firms, startups, and Columbia departments to provide aspiring student developers with the necessary support framework to build a complete application over the span of one week as they iterate upon their ideas, experiment with new technologies and concepts, and add value in non-technical ways.</p>
<h3 id="hackathon">A Hackathon</h3>
<p>DevFest will kick off <strong>Saturday, Jan. 28 at 1pm in the Davis Auditorium at Columbia</strong> with a catered social event for all participants and a 24-hour hackathon.</p>
<p>We'll have numerous experienced students and alumni developers present to help with any questions you have.</p>

<h3 id="demofest">A Demofest</h3>
<p>On <strong>Saturday, Feb. 4 at 11:30am in the Davis Auditorium</strong>, we'll serve lunch and then teams will reconvene to demo their project for a general audience, including representatives of startups and VCs from NYC and the Bay Area.</p>

<h3>Workshops</h3>
<p>Monday through Friday will be filled with workshops and lectures covering topics in technology, entrepreneurship, business, and networking to help teams with their development efforts. We'll announce details soon.</p>

<h2 id="participate">Eligibility</h2>
<p>Participating team members must be full-time students enrolled in a high school, undergraduate, or graduate program. Each team may present one entry during the concluding demo fest at Davis Auditorium in Columbia University at <strong>11:30am on Saturday, Feb. 4</strong>. All events are open to the general public, unless specified otherwise by the hosting party.</p>

<h2 id="register">Registration</h2>
<p>All event participants must register. Interested individuals may organize as a team before or during DevFest, or submit an individual project. Register <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dHZJSldSTTdPeXhmQkFPTWRzd21waXc6MQ#gid=0">here</a>!</p>
