<aside id="featured" class="body">
	<h2>Students and alumni mentors deep in the trenches of the NYC startup scene get together over dinner to share their passion for building cool things. Interested? <a href="http://bit.ly/adicu_dinners">Reserve a seat at the table</a>.</h2>
</aside>

<h2>Students</h2>
<p>Dinners are held on the first Thursday of each month during the Spring and Fall semesters, unless otherwise noted. Active Columbia students interested in participating may <a href="http://bit.ly/adicu_dinners">register for a spot at the next dinner</a>.</p>

<h2>Participating alumni mentors</h2>
<ul id="alumni_mentors">
	<li>
		<%= image_tag( "alumni_portraits/david.png" ) %>
		<p><strong>David Albert</strong></p>
		<p>Dave graduated from Columbia with a B.S. in Computer Engineering in 2009. He just moved back from California after doing Y Combinator with his friend and fellow Columbia alum Nick. He's been programming since middle school and would be happy to tell you why now is the right time for you to start a company (or work at a startup). He can also answer questions about building web apps and product design.</p>
	</li>
	<li>
		<%= image_tag( "alumni_portraits/nicholas.png" ) %>
		<p><strong>Nicholas Bergson-Shilcock</strong></p>
		<p>Nick graduated from Columbia in 2008 with a B.S. in Computer Engineering. After graduating, he spent two years working as a software engineer writing free and open source software at OpenPlans. In the spring of 2010, Nick quit his job to follow his decade-long dream of starting a tech company. He co-founded HireHive with his friend David Albert and got accepted into Y Combinator. He now wakes up every morning in full control of his life, and gets to concentrate every day on how to build the biggest and best company he can.</p>
	</li>
	<li>
		<%= image_tag( "alumni_portraits/benny.png" ) %>
		<p><strong>Benny Wong</strong></p>
		<p>Benny graduated from Columbia in 2007 with B.S. in Computer Science from SEAS. He started his career as a risk analytics developer at a large investment bank. He would be ecstatic to talk at length about why working in finance is one of the bigger mistakes you can make as an engineer. He then moved on to Gilt Groupe where he was the lone developer building Gilt City through it's public launch. He has recently decided to leave Gilt to start a tech company with his friend Jonathan (and can't wait to take over the world!)</p>
	</li>
	<li>
		<%= image_tag( "alumni_portraits/jonathan.png" ) %>
		<p><strong>Jonathan Wegener</strong></p>
		<p>Jonathan graduated from Columbia in 2007 with useless degrees in Sociology and Neuroscience.  While a student, he ran the Columbia professor review website CULPA. After graduation he joined a strategy consulting firm where advised the Associated Press on their digital media strategy.</p>
<p>He then jumped into the exciting world of startups launching the popular mobile app Exit Strategy NYC with the help of Benny Wong and his sister.  He has also helped design the products and marketing strategies of many NYC startups including GroupMe, Drop.io, SkillSlate, Pontiflex, Appfund, and DenseBrain.  Most recently, Jonathan is pursuing a new startup with Benny Wong.</p>
	</li>
</ul>
<p>If you are an alum interested in mentoring dedicated student developers and enjoy free (or partially free) meals, email us at <a href="dinners@adicu.com">dinners@adicu.com</a>.</p> 