<% title "HackSquad" %>

<aside id="featured" class="body">
  <h2>Students and alumni mentors deep in the trenches of the NYC startup scene get together over dinner to share their passion for building cool things. Interested? <a href="http://bit.ly/adicu_dinners">Reserve a seat at the table</a>.</h2>
</aside>

<h2>Students</h2>
<p>Dinners are held on the first Thursday of each month during the Spring and Fall semesters, unless otherwise noted. Active Columbia students interested in participating may <a href="http://bit.ly/adicu_dinners">register for a spot at the next dinner</a>.</p>