<% title "HackColumbia" %>

<center><figure id="hackcu">
  <%= image_tag("hackcu.png") %>
</figure>
</center>

<aside id="featured" class="body">
  <h2>
    <strong>HackColumbia 2013</strong>. ADI, the Columbia College Student Council, and the Engineering Student Council are proud to announce the first Columbia-centric hackathon. The hackathon will be held in March. Check back for more details later!
  </h2>
</aside>
