<aside id="featured" class="body">
  <h2>A student-led initiative at Columbia University nurturing student creativity and technological aptitude through project development.</h2>    
</aside>

<ol id="features">
<%= render :partial => "features/feature", :collection => @features %>
</ol>