<% title "Startup Job Fair" %>

<h1 class="title">Startup Job Fair</h1>

<aside id="featured" class="body">
<h2>Columbia developers, get a job with a tech startup in NYC.</h2>
</aside>

<p>
	<b>RSVP <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dGgzLU9oaHZLNkwyNG9GNHdPMC1pZUE6MQ#gid=0">here</a></b>.
	Please note that you must be a Columbia student or have been invited to attend.
</p>

<p><strong>What:</strong> ADI is hosting a career fair just for tech startups in New York City. It will be smaller and more intimate than the university-wide and engineering career fairs normally hosted each Fall, and it will target student developers on campus who are excited about working in the New York startup scene.</p>

<p><strong>When:</strong> November 9, 2012 3:00pm-5:30pm</p>

<p><strong>Where:</strong> Columbia University, Lerner Hall 555</p>

<div class="section">
  <h2>Companies</h2>
  <p>Here are the companies that will be there.</p>

  <div class="logos varied">
    <p>

      <span class="logo-wrapper">
        <a href="http://www.aviary.com"><img alt="Aviary" src="/images/logos/aviary.jpg" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.shapeways.com"><img alt="Shapeways" src="http://www.shapeways.com/topics/udesign/presscorner/shapeways_full_colour_rgb.jpg" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.foursquare.com"><img alt="Foursquare" src="http://playfoursquare.s3.amazonaws.com/press/logo/foursquare-logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.bit.ly"><img alt="Bitly" src="https://d3h5jhobc20ump.cloudfront.net/c2051d9195fa263c5339d288962b73f4.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.http://codecademy.com"><img alt="Codecademy" src="http://codecademy.com/assets/codecademy_logo_small.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.intentmedia.com"><img alt="Intent Media" src="http://www.intentmedia.com/intent/images/logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.lore.com"><img alt="Lore" src="http://staticcode.coursekit.com/9ac832704fc7464486fb7c6c82cb88cc/css/img/home-v2/logo-nav.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.turntable.fm"><img alt="Turntable" src="https://s3.amazonaws.com/static.turntable.fm/images/index/logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://vimeo.com/"><img alt="Vimeo" src="http://takezeroproductions.com/vimeo_logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://kikin.com/"><img alt="Kikin" src="images/kikin_logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.10gen.com/"><img alt="10gen" src="http://www.10gen.com/static/css/images/logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.knewton.com/"><img alt="Knewton" src="http://www.knewton.com/wp-content/themes/knewton/images/logo.gif" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.voxy.com/"><img alt="Voxy" src="http://voxy.com/blog/wp-content/themes/voxyblog/images/voxy-logo-sm.jpg" /></a>
      </span>

<!--
      <span class="logo-wrapper">
        <a href="http://www.stackexchange.com"><img alt="Stack Exchange" src="http://upload.wikimedia.org/wikipedia/en/6/6f/Stack_Exchange_Logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://animoto.com"><img alt="Animoto" src="http://edge1.animoto.com/files/press/animoto_logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.secondmarket.com"><img alt="Second Market" src="https://www.secondmarket.com/static/images/sm-logo-big.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://nodejitsu.com/"><img alt="nodejitsu" src="http://nodejitsu.com/img/header-logotype.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.zocdoc.com/"><img alt="ZocDoc" src="http://www.zocdoc.com/images/press/ZocDoc-Logo-Small.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.kickstarter.com/"><img alt="Kickstarter" src="/images/logos/kickstarter.jpg" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://betaworks.com/"><img alt="betaworks" src="images/betaworks_logo.gif" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.bundle.com/"><img alt="Bundle" src="images/logos/bundle.gif" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://www.showme.com/"><img alt="showme" src="http://www.showme.com/pics/logo.png" /></a>
      </span>

      <span class="logo-wrapper">
        <a href="http://venmo.com/"><img alt="venmo" src="/images/venmo.png" /></a>
      </span>
-->
	<!-- Keep Boxee last -->
      <!--span class="logo-wrapper">
        <a href="http://www.boxee.tv/"><img class="tall" alt="Boxee" src="http://www.boxee.tv/htdocs/images/static/press/boxee-logo-3.png" /></a>
      </span-->
	<!-- Keep Boxee last -->

    </p>
  </div>

  <p><strong>Interested in recruiting at the job fair?</strong> Send an e-mail to <a href="mailto:networking@adicu.com">networking@adicu.com</a>.</p>
  <p>Special thanks to SecondMarket for their help!</p>

</div>
