<aside id="featured" class="body">
  <h2>Interested in finding tech talent at Columbia?</h2>
</aside>

<h2>E-mail the listserv</h2>
<p>We've set up a Google group of interested students <a href="http://groups.google.com/group/adicu-jobs?hl=en_US">here</a>. Send us an e-mail if you're looking for talent, or join if you're looking for a job.

<h2>Go to the job fair</h2>
<p>We'll be hosting a job fair later this semester. More details to come.</p>


