<% title "Math-Startup Collaborative" %>

<h1 class="title">Math-Startup Collaborative</h1>

<aside id="featured" class="body">
  <h2>Meet Columbia alumni from NYC startups, including Bitly, Foursquare and Codecademy, and learn about the role of math and engineering in their companies.</h2>
</aside>

<p>
  <strong>RSVP <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dGtaMDlNOFVURm10MVZGa09HZlA4anc6MQ#gid=0">here</a> to attend.</strong>
Seats fill up quickly! The event is open to undergraduate and graduate students
at Columbia
</p>

<p>
  <strong>What:</strong>
  <a href="http://www.seas.columbia.edu/siam/">Siam</a> and ADI are excited to
  present the 2012 Spring Math-Startup Collaborative! Students interested in
  startup careers and internships, or those simply curious to see how math is
  applied in the wild, are especially welcome. The event, which consists of a
  series of presentations from our startup members, will be followed by a
  reception. This is sure to be the largest applied math event of the semester!
</p>

<p><strong>When:</strong> Wednesday, February 29 from 6:00 to 8:00 PM</p>

<p><strong>Where:</strong> Davis Auditorium, Schapiro Center</p>

<p>
  Please contact <a href="mailto:itl2103@columbia.edu">Ilana Lefkovitz</a> for
  more information.
</p>

