<% title "Tech Culture" %>

<img class="title" src="images/techculture.png" alt="Tech Culture" style="width:300px" />

<aside id="featured" class="body">
<h2>Learn about open source software at Columbia and the rest of the world.</h2>
</aside>

<p>
What do you get when you mix <strong>free food</strong> with open source software? One word: TechCulture.
</p>

<p>
<strong>James Socol</strong>, a developer from <strong>Mozilla</strong> will introduce you to the open source community and help you learn how you can take advantage of open source technology on campus. If you're interested, we can also help you get set up with open source software like Linux.
</p>

<p><strong>When:</strong> December 3, 2011, 11:00AM-1:00PM. Software installation continues until 3.</p>

<p><strong>Where:</strong> Columbia University, CS Lounge.</p>
