<% title "Workshop Resources" %>

<aside id="featured" class="body">
  <h2> Extra Resources from ADI Workshops </h2>
</aside>

<section id="latex">
  <h2>LaTeX Workshop (3/4/2013)</h2>
  <ul>
    <li>
      <a href="/files/2013_03_04_latex_slides.pdf">
          Presentation Slides (PDF)</a>
    </li>
    <li>
      <a href="/files/2013_03_04_latex_slides.tex">
          Presentation Slides (LaTeX source)</a>
    </li>
    <li>
      <a href="http://en.wikibooks.org/wiki/LaTeX">
          Wikibook on LaTeX</a>
    </li>
  </ul>
</section>
